@font-face {
    font-family: 'Electrolize';
    src: url(../fonts/Electrolize-Regular.woff) format('woff');
}

body {
    line-height: 1.6;
    background-color: #101010;
    font-family: Electrolize;
    background-image: url(../img/background/9f28260da9f7acaeec39490d59e8c19a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #eaeaea;
}

h1 {
    font-size: 80px;    
    color: white;
    margin: 50px 0;
    text-align: center;
    text-shadow: 5px 5px 5px black;
}

.container {
    width: 600px;
    background-color: rgba(0,0,0,0.5);
    margin: auto;
    padding: 30px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
    border-radius: 5px;
}

.gallery li {
    width: 120px;
    height: 120px;
    border: 5px solid rgba(200,200,200,0.5);
    float: left;
    margin-right: 20px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.gallery li:hover {
    transform: scale(1.175);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.gallery li img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.gallery li span {
    display: block;
    width: 120px;
    height: 120px;
    background-color: rgba(200,200,200,0.5);
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 120px;
    color: #333;
    text-shadow: 1px 1px 1px #ddd;
    opacity: 0;
    transform: scale(0) rotate(0);
    transition: all .4s ease-in-out;
    border-radius: 50%;
}

.gallery li a:hover span {
    opacity: 1;
    transform: scale(1) rotate(360deg);
}

.clear {
    clear: both;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
    z-index: -1;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.5s ease, opacity 0.5s ease;
}

.overlay:target {
    opacity: 1;
    background: rgba(0,0,0,0.8);
    z-index: 9999;
    pointer-events: auto;
}

.overlay .close-area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.overlay img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.7);
    transform: scale(0.8);
    opacity: 0;
}

.overlay:target img {
    transform: scale(1);
    opacity: 1;
}

.next {
    width: 165px;
    height: 165px;
    background-image: url(../img/navigation/next1.png);
    position: absolute;
    text-indent: -9999px;
    left: 65%;
    margin-left: 25px;
    background-repeat: no-repeat;
}

.prev {
    width: 165px;
    height: 165px;
    background-image: url(../img/navigation/prev1.png);
    position: absolute;
    text-indent: -9999px;
    right: 65%;
    margin-right: 25px;
    background-repeat: no-repeat;
}
